@import url('../css/flexboxgrid.css');

* {
  margin: 0;
  padding: 0;
  list-style: none;
  border: 0;
  box-sizing: border-box;
}

body {
  background: hsl(233, 47%, 7%);
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  .card {
    background: hsl(244, 38%, 16%);
    display: flex;
    border-radius: 8px;
  
    &__item {
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding: 60px 70px 0;
  
      h1 {
        color: hsl(0, 0%, 100%);
        font-size: 37px;
        font-family: 'Inter', sans-serif;
        margin-bottom: 30px;
      }
  
      span {
        color: hsl(277, 64%, 61%);
      }
  
      p {
        color:  hsla(0, 0%, 100%, 0.75);
        font-size: 15px;
        font-family: 'Inter', sans-serif;
        //font-family: 'Lexend Deca', sans-serif;
        margin-bottom: 60px;
        max-width: 40ch;
        line-height: 24px;
      }
  
      ul li {
        display: inline-block;
        flex-wrap: wrap;
        color: hsla(0, 0%, 100%, 0.6);
      }
  
      .card__list {
        p {
          font-family: 'Lexend Deca', sans-serif;
          font-size: 12px;
          color:  hsla(0, 0%, 100%, 0.75);
          text-transform: uppercase;
          margin-top: 5px;
        }
      }
  
      .space {
        margin: 0 69px;
      }
  
      .number {
        font-size: 30px;
        font-weight: 700;
        color: hsl(0, 0%, 100%);
        font-family: 'Inter', sans-serif;
      }
    }

    img {
      max-width: 100%;
      height: auto;
      object-fit: cover;
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
      filter: opacity(0.4) drop-shadow(0 0 0 #aa5cdb); 
    }
  }
}


@media (min-width: 1024px) and (max-width: 1199px) {
  * {
    box-sizing: initial;
  }

  .content .card__item {
    padding: 30px 45px 0;
  }

  .content .card__item h1 {
    font-size: 30px;
  }

  .content .card__item p {
    font-size: 14px;
  }

  .content .card__item .number {
    font-size: 24px;
  }

  .content .card__item .space {
    margin: 0 40px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .content {
    height: auto;
  }

  .content .card {
    flex-direction: column-reverse;
  }

  .content .card__item {
    text-align: center;
  }

  .content .card__item p {
    max-width: none;
  }

  .content .card img {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 0px;
  }
}

@media screen and (max-width: 767px) {
  .content {
    height: auto;
  }

  .content .card {
    flex-direction: column;
  }

  .content .card__item {
    order: 2;
    text-align: center;
    padding: 40px 20px 0;
  }

  .content .card__item .card__list {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  .content .card__item .space {
    margin: -30px 0;
  }

  .content .card__item ul li {
    display: inherit;
  }

  .content .card__item h1 {
    font-size: 32px;
  }

  .content .card__item p {
    font-size: 18px;
    max-width: none;
  }

  .content .card img {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 0px;
  }
}



.attribution {
  margin: 0 auto;
  max-width: 460px;
  font-size: 16px; 
  text-align: center;
  background: #ffffff;

  a { 
    color: hsl(228, 45%, 44%);
  }
}