@import url("../css/flexboxgrid.css");
* {
  margin: 0;
  padding: 0;
  list-style: none;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #090b1a;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
}

.content .card {
  background: #1b1938;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 8px;
}

.content .card__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 60px 70px 0;
}

.content .card__item h1 {
  color: white;
  font-size: 37px;
  font-family: 'Inter', sans-serif;
  margin-bottom: 30px;
}

.content .card__item span {
  color: #aa5cdb;
}

.content .card__item p {
  color: rgba(255, 255, 255, 0.75);
  font-size: 15px;
  font-family: 'Inter', sans-serif;
  margin-bottom: 60px;
  max-width: 40ch;
  line-height: 24px;
}

.content .card__item ul li {
  display: inline-block;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: rgba(255, 255, 255, 0.6);
}

.content .card__item .card__list p {
  font-family: 'Lexend Deca', sans-serif;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.75);
  text-transform: uppercase;
  margin-top: 5px;
}

.content .card__item .space {
  margin: 0 69px;
}

.content .card__item .number {
  font-size: 30px;
  font-weight: 700;
  color: white;
  font-family: 'Inter', sans-serif;
}

.content .card img {
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  -webkit-filter: opacity(0.4) drop-shadow(0 0 0 #aa5cdb);
          filter: opacity(0.4) drop-shadow(0 0 0 #aa5cdb);
}

@media (min-width: 1024px) and (max-width: 1199px) {
  * {
    -webkit-box-sizing: initial;
            box-sizing: initial;
  }
  .content .card__item {
    padding: 30px 45px 0;
  }
  .content .card__item h1 {
    font-size: 30px;
  }
  .content .card__item p {
    font-size: 14px;
  }
  .content .card__item .number {
    font-size: 24px;
  }
  .content .card__item .space {
    margin: 0 40px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .content {
    height: auto;
  }
  .content .card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .content .card__item {
    text-align: center;
  }
  .content .card__item p {
    max-width: none;
  }
  .content .card img {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 0px;
  }
}

@media screen and (max-width: 767px) {
  .content {
    height: auto;
  }
  .content .card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .content .card__item {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    text-align: center;
    padding: 40px 20px 0;
  }
  .content .card__item .card__list {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .content .card__item .space {
    margin: -30px 0;
  }
  .content .card__item ul li {
    display: inherit;
  }
  .content .card__item h1 {
    font-size: 32px;
  }
  .content .card__item p {
    font-size: 18px;
    max-width: none;
  }
  .content .card img {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 0px;
  }
}

.attribution {
  margin: 0 auto;
  max-width: 460px;
  font-size: 16px;
  text-align: center;
  background: #ffffff;
}

.attribution a {
  color: #3e52a3;
}
/*# sourceMappingURL=style.css.map */